.achievements{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.competitors{
    margin: 2rem;
}

.achievmentImg
{
    height: 80vh;
}

.tumzSubKingImg{
    width: 100vw;
}
.subKingImg{
    width: 100vw;
}