
.fees{
    text-decoration: underline;
}
.timeTbalePG{
text-align: center;
}


h2{
    text-decoration: underline;
}

h4{
    font-size:.8rem;
}
p {
    font-size: .8rem;
}

.Dates{
    display: flex;
    flex-direction: column;
    
}
.day{
    width:90px;
    height:90px;
    background-color: blueviolet;
    border: 1px solid black;
}

.mornings{
    display: flex;
    flex-direction: column;
}
.morning{
    width:90px;
    height:90px;
    background-color: rgb(44, 146, 112);
    border: 1px solid black;
}

.evenings{
    display: flex;
    flex-direction: column;
}
.evening{
    width:90px;
    height:90px;
    background-color: rgb(247, 187, 23);
    border: 1px solid black;
}

.timeTable{
    display: flex;
    justify-content: center;
    margin: 2rem auto;
    text-align: center;
    width: 100%;
  
}

.monday
{
background-color: rgb(123, 178, 192);
}

.tuesday
{
background-color: rgb(185, 80, 80);
}
.wednesday
{
background-color: rgb(123, 178, 192);
}

.thursday
{
background-color: rgb(185, 80, 80);
}
.friday
{
background-color: rgb(123, 178, 192);
}

.sat
{
background-color: rgb(93, 185, 50);
}
.sunday
{
background-color: rgb(77, 77, 77);
}

.timeTableFooterImg{
    width: 90vw;
        background-size: contain;
        background-repeat: no-repeat;

}
.timeTableTxt
{
margin:auto;
justify-content: center;
width:95%;
}

@media (min-width: 40rem)
{
    h1{
        font-size: 3.2rem;
    }

    h2{
        font-size:2rem;
        text-decoration: underline;
    }
    h3{
       font-size:1.4rem;
    }

    .timeTable
    {
        margin: 2rem 0;
    }

    .timeTableTxt{
        margin: 2rem;
        padding: 1rem;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    }

    .morning{
        width:150px;
        height:90px;
        border: 1px solid black;
        p{
            font-size: 1rem;
            font-weight: 600;
        }
    }

    .evening{
        width:150px;
        height:90px;

        border: 1px solid black;
        p{
            font-size: 1rem;
            font-weight: 600;
        }
    }

    .day{
        width:150px;
        height:90px;
   
        border: 1px solid black;

        h3{
            font-size: 1.4rem;
        }
        h4{
            font-size: 1.2rem;
        }

    }
}