

.timeTbalePG{
text-align: center;
}




.Dates{
    display: flex;
    flex-direction: column;
    
}
.day{
    width:100px;
    height:75px;
    background-color: blueviolet;
    border: 1px solid black;
}

.mornings{
    display: flex;
    flex-direction: column;
}
.morning{
    width:100px;
    height:75px;
    background-color: rgb(44, 146, 112);
    border: 1px solid black;
}

.evenings{
    display: flex;
    flex-direction: column;
}
.evening{
    width:100px;
    height:75px;
    background-color: rgb(247, 187, 23);
    border: 1px solid black;
}

.timeTable{
    display: flex;
    justify-content: center;
    margin: 2rem auto;
    text-align: center;
    width: 100%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.monday
{
background-color: rgb(123, 178, 192);
}

.tuesday
{
background-color: rgb(185, 80, 80);
}
.wednesday
{
background-color: rgb(123, 178, 192);
}

.thursday
{
background-color: rgb(185, 80, 80);
}
.friday
{
background-color: rgb(123, 178, 192);
}

.sat
{
background-color: rgb(93, 185, 50);
}
.sunday
{
background-color: rgb(77, 77, 77);
}